{
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 80,
    "pluginSearchDirs": ["."],
    "proseWrap": "always",
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "semi": true
}
